.main-quiz {
    display: flex;
    justify-content: center;
    align-items: center;

    .quiz {
        background-color: #e1e1e1;
        width: 50%;
        margin: 5rem auto;
        padding: 1rem;
        border-radius: 2rem;

        @media(max-width: 768px) {
            width: 90%;
        }

        .results {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            padding: 1rem 0;

            h2 {
                font-family: "K2D";
                font-weight: bold;
                font-size: 3rem;
                margin-bottom: 4rem;

                @media (max-width: 768px) {
                    font-size: 2rem;
                }
            }

            p {
                font-weight: bold;
                font-size: 2rem;

                .green {
                    color: green;
                }

                .red {
                    color: red;
                }
            }

            button {
                background-color: #000000;
                color: #ffffff;
                font-size: 2rem;
                font-weight: bold;
                padding: .5rem 1rem;
                border: none;
                border-radius: 2rem;
                cursor: pointer;
                margin-top: 4rem;
            }
        }
    
        h3 {
            font-size: 2.7rem;

            @media (max-width: 768px) {
                font-size: 2rem;
            }
        }
    
        .options {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            row-gap: 2rem;
            margin: 3rem 0;
    
            .option {
                width: 100%;
                display: block;
                background-color: #ffffff;

                .option-pointer {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 2rem;
                    width: 100%;
                    padding: .5rem 1rem;
                    background-color: #ffffff;
                    cursor: pointer;
                    border: none;
                    text-align: left;

                    p {
                        font-size: 2rem;
                        padding: 0 1rem;
                        font-weight: bold;

                        &:first-child {
                            font-size: 2.5rem;
                            border-radius: 50%;
                            background-color: #e1e1e1;
                        }
                    }
                }

                .selected {
                    background-color: #5050506b;
                }
            }
        }
    
        .bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;

            span {
                font-size: 1.7rem;
            }
    
            button {
                background-color: #000000;
                color: #ffffff;
                font-size: 2rem;
                font-weight: bold;
                padding: .5rem 1rem;
                border: none;
                border-radius: 2rem;
                cursor: pointer;
            }
        }
    }
}