.country-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: cover;
    border: 1px solid #000000;
    width: 90%;
    padding: 1rem .5rem;
    background-color: #eeeeee;
    transition: all ease 700ms;

    &:hover {
        transform: scale(1.03);
    }

    img {
        max-width: 60%;
        max-height: 8rem;

        @media (max-width: 700px) {
            max-height: 6rem;
        }
    }

    h2 {
        font-family: "K2D", sans-serif;
        font-weight: bold;
        text-align: center;
    }

    ul {
        list-style: none;
        padding: 1rem .3rem;
        width: 100%;
        text-align: left;

        @media (max-width: 700px) {
            font-size: 1.4rem;
        }

        li {
            padding: .5rem 0;

            span {
                font-weight: bold;
            }
        }
    }
}